/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL */
body {
    font-family: Arial, sans-serif;
    background-image: url("assets/image.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}


header, footer {
    background-color: #79f108;
    color: white;
    text-align: center;
    padding: 15px;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* MENU */
.menu {
    background: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 40px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.menu h3 {
    color: #79f108;
    margin-bottom: 10px;
}

.menu ul {
    list-style: square;
    padding-left: 20px;
}

.menu li {
    padding: 6px 0;
}

/* TABLE */
.reservations {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.table-wrapper {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    min-width: 500px;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #79f108;
    color: white;
}

tr {
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f1f1f1;
}

.booked {
    background-color: #ffd6d6;
    font-weight: bold;
}

/* RESPONSIVE DESIGN */
@media (max-width: 900px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr;
    }

    h1 {
        font-size: 22px;
    }

    table {
        font-size: 14px;
    }
}