body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#eee;
}

.table-container {
    background-color: #c6ccd2;  
    padding: 20px;
    width: 490px;
    height: 250px;
    margin-bottom: 100px;
   
}

.top-div {
    background-color: transparent;
    margin: 10px 40px;
    border-radius: 15px;
    text-align: center;
    
}

.top-div h2 {
    font-style: italic;
}

table{
    border-collapse:collapse;
    background:#c6ccd2;
    width:500px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
}

th,td{
    border:2px solid black;
    padding:12px;
    text-align:center;
    font-size:18px;
}